img.checkout__ad {
    width: 100%;
    margin-bottom: 8px
}

.checkout {
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}

.checkout__title {
    margin-right: 12px;
    padding: 12px;
    border-bottom: 1px solid lightgray;
}